.lixi-container {
    text-align: center;
    padding-top: 2rem;
    color: white;
}

.lixi-title {
    color: #FFD700;
    font-weight: 900;
    text-shadow: 3px 3px 0 #d00000;
    font-size: 3rem;
}

.money {
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, #ffeb3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.btn-lixi {
    font-size: 10rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.1s;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
}

    .btn-lixi:hover {
        transform: scale(1.05) rotate(5deg);
    }

    .btn-lixi.clicked {
        animation: shake 0.2s ease-in-out;
    }

.log-text {
    font-size: 1.5rem;
    color: #ff80ab;
    font-style: italic;
    min-height: 2rem;
}

@keyframes shake {
    0% {
        transform: rotate(0deg) scale(0.9);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}